.container {
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .initPromptsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .buttonContainer {
    position: relative;
  }
  .textArea {
    border-radius: 8px;
    height: 40px;
    border: 0.5px solid var(--background, #383838);
    margin-top: 40px;
    padding-right: 40px;
  }
  .button {
    border-radius: 6px;
    background-color: #00c853;
    position: absolute;
    bottom: 3px;
    right: 7px;
  }
}
