/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

p,
input {
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

.ant-input,
.ant-tag {
  font-family: "Poppins", "sans-serif";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

/* Hidden class for print */
.hidden {
  display: none;
}

@media print {
  .hidden {
    display: block;
  }
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.ant-table-wrapper .ant-table {
  scrollbar-color: unset;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

*::-moz-selection {
  background-color: #555;
  color: #fff;
}

:where(.css-dev-only-do-not-override-1m1kg84).ant-carousel .slick-prev {
  z-index: 100000;
}

:where(.css-dev-only-do-not-override-lwll9f).ant-carousel .slick-next {
  z-index: 100000;
}

:where(.css-dev-only-do-not-override-1ivua89).ant-menu
  .ant-menu-item
  .ant-menu-item-icon
  + span,
:where(.css-dev-only-do-not-override-1ivua89).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon
  + span,
:where(.css-dev-only-do-not-override-1ivua89).ant-menu
  .ant-menu-item
  .anticon
  + span,
:where(.css-dev-only-do-not-override-1ivua89).ant-menu
  .ant-menu-submenu-title
  .anticon
  + span {
  margin-inline-start: 20px;
}

.ant-menu-item {
  padding-left: 0;
}
.ant-menu-dark .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1ivua89).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
  background: linear-gradient(0deg, #f00 -52.7%, #f5af19 191.82%);
  border-radius: 16px;
}
.ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1ivua89).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
  background: linear-gradient(0deg, #f00 -52.7%, #f5af19 191.82%);
  border-radius: 16px;
  color: #ffffff;
}
.ant-menu-inline-collapsed > .ant-menu-item,
:where(.css-dev-only-do-not-override-1ivua89).ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-item,
:where(.css-dev-only-do-not-override-1ivua89).ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1ivua89).ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  display: flex;
}

video {
  border-radius: 16px;
}
.ant-carousel .slick-next {
  color: #888;
}
.ant-carousel .slick-prev {
  color: #888;
}
