.main-header-menu-name {
  font-size: 22px;
  @media (max-width: 468px) {
    font-size: 16px;
  }
  @media (max-width: 678px) {
    font-size: 18px;
  }
}
.ant-drawer .ant-drawer-body {
  padding: 0;
}
.main-layout-container {
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  position: relative;
  transition: width 0.2s ease-in-out, padding-left 0.2s ease-in-out;
  .content {
    background: inherit;
  }
}
.videoWrapper {
  position: relative;
  cursor: pointer;
  height: 375px;
}
.videoWrapper:hover .videoController {
  display: flex;
}

.videoController {
  display: none;
  position: absolute;
  align-items: center;
  width: 96%;
  bottom: 10px;
  left: 10px;
}
